@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
header{
    width: 1920px;
height: 1322px;
background: rgba(255, 144, 14, 0.1);
margin: 0 auto;
}
nav h2{
    color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 45px;
font-weight: 700;
line-height: 53px;
letter-spacing: 0%;
text-align: center;
}

nav a{
    color: rgb(66, 66, 66);
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
text-decoration: none;
margin: 20px;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
